<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><a routerLink="">Lego App</a></span>
    <div class="flex justify-end w-full space-x-5 pd-10">
        <a routerLink="themes/movies" mat-button routerLinkActive="activebutton">Movies</a>
        <a routerLink="themes/city" mat-button routerLinkActive="activebutton">City</a>
        <a routerLink="themes/space" mat-button routerLinkActive="activebutton">Space</a>
        <a routerLink="themes/pirates" mat-button routerLinkActive="activebutton">Pirates</a>
        <a routerLink="themes/knights" mat-button routerLinkActive="activebutton">Knights</a>
        <a routerLink="themes/creator" mat-button routerLinkActive="activebutton">Creator</a>
        <a routerLink="themes/sports" mat-button routerLinkActive="activebutton">Sports</a>
        <a routerLink="/about" mat-button routerLinkActive="activebutton">About</a>
    </div>
</mat-toolbar>