<aside>
<ul>
    <li  *ngIf="parameter.theme  === 'movies'"
         class="flex flex-col">
        <a 
        *ngFor="let theme of movies">
            {{theme.name}}
        </a> 
    </li>
    <li  *ngIf="parameter.theme  === 'city'"
        class="flex flex-col">
    <a 
    *ngFor="let theme of city">
        {{theme.name}}
    </a> 
    </li>
    <li  *ngIf="parameter.theme  === 'space'"
    class="flex flex-col">
   <a 
   *ngFor="let theme of space">
       {{theme.name}}
   </a> 
</li>
</ul>
</aside>

